.bloglist {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bloglist-cont-box {
    margin-inline: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}



.bloglist-cont-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bloglist-cont-picbox {
    margin: 0;
    min-width: 350px;
    width: 60%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bloglist-cont-pic {
    min-height: 300px;
    margin: 0;
}

.bloglist-cont-vert {
    margin: 0;
    padding-left: 25px;
    padding-block: 25px;
    width: 100%;
    height: 250px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloglist-cont-title {
    margin: 0;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.bloglist-cont-desc {
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.bloglist-cont-button {
    margin: 0;
    margin-top: 20px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #5941F2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.bloglist-cont-button:hover {
    border: 2px solid #5941F2;
    color: #5941F2;
    background-color: inherit;
}

/* EVEN STUFF */

.bloglist-cont-horz-even {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bloglist-cont-vert-even {
    margin: 0;
    /* background-color: antiquewhite; */
    padding-right: 25px;
    padding-block: 25px;
    height: 250px;
    padding-left: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

/* PREV */

.bloglist-cont-picbox-prev {
    margin: 0;
    min-width: 350px;
    width: 60%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.cardprev {
    padding-top: 50px;
    background-color: white;
}