.bloglist {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bloglist-cont-box {
    margin-inline: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bloglist-cont-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bloglist-cont-picbox {
    margin: 0;
    min-width: 350px;
    width: 60%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bloglist-cont-pic {
    min-height: 300px;
    margin: 0;
}

.bloglist-cont-vert {
    margin: 0;
    padding-left: 25px;
    padding-block: 25px;
    width: 100%;
    min-height: 250px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloglist-cont-title {
    margin: 0;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.bloglist-cont-desc {
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.bloglist-cont-button {
    margin: 0;
    margin-top: 20px;
    height: 50px;
    width: 180px;
    border: none;
    background-color: #5941F2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.bloglist-cont-button:hover {
    border: 2px solid #5941F2;
    color: #5941F2;
    background-color: inherit;
}

/* PREV */

.bloglist-cont-picbox-prev {
    margin: 0;
    min-width: 350px;
    width: 60%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.cardprev {
    padding-top: 50px;
    background-color: white;
}

@media only screen and (max-width: 1300px) {
    .bloglist-cont-title {
        font-size: 25px;
    }
    .bloglist-cont-desc {
        font-size: 15px;
    }
    .bloglist-cont-button {
        height: 40px;
        width: 150px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1050px) {

    .bloglist-cont-box {
        background-color: whitesmoke;
    }

    .bloglist-cont-title {
        font-size: 25px;
    }

    .bloglist-cont-desc {
        margin: 0;
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .bloglist-cont-button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .bloglist-cont-title {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 750px) {
    .bloglist-cont-title {
        font-size: 25px;
        text-align: left;
    }
    .bloglist-cont-desc {
        width: auto;
        height: auto;
        visibility: visible;
        font-size: 15px;

    }
    .bloglist-cont-horz {
        flex-direction: column;
    }

    .bloglist-cont-picbox {
        width: 100%;
    }

    .bloglist-cont-pic {
        height: 130%;
    }
    .bloglist-cont-vert {
        margin: 0;
        padding-inline: 25px;
        padding-block: 25px;
        width: 100%;
        min-height: 250px;
        /* padding-right: 60px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bloglist-cont-button {
        height: 50px;
        width: 180px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {

    .bloglist-cont-title {
        font-size: 25px;
    }

    .bloglist-cont-pic {
        height: 100%;
    }

    .bloglist-cont-horz {
        flex-direction: column;
    }

    .bloglist-cont-picbox {
        width: 100%;
        min-width: 0px;
    }
    .bloglist-cont-vert {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .bloglist-cont-box {
        margin-inline: 5%;
    }
}