.hero {
    /* background-color: white; */
    /* background-color: #F2F2F2; */
}

.hero-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 730px;
    width: 46%;
    background-color: #458C78;
    /* background-color: #242424; */
    z-index: -1;
}

.hero-box {
    margin-top: 120px;
    margin-bottom: 40px;
    margin-inline: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    margin: 0;
    color: white;
    font-size: 45px;
    width: 100%;
}

.hero-box-cont {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}

.hero-buttondesc {
    color: black;
    font-size: 18px;
}

.hero-button {
    height: 50px;
    width: 180px;
    border: 1.5px solid #458C78;
    background-color: #458C78;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-button:hover {
    color: #458C78;
    background-color: inherit;
    
}

.hero-button-arrow {
    height: 25px;
    margin-left: 8px;
    filter: brightness(0) invert(1);
    transition-duration: 0.4s;
}

.hero-button:hover > .hero-button-arrow {
    margin-left: 15px;
    filter: invert(48%) sepia(17%) saturate(936%) hue-rotate(112deg) brightness(97%) contrast(95%);
}

.hero-picbox {
    margin-left: 10%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-pic1 {
    filter: brightness(85%);
    width: 60%;
}

.hero-pic2box {
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.hero-pic2 {
    filter: brightness(85%);
    width: 200%;
}

.hero-desc {
    margin-inline: 10%;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 1050px) {
    .hero-title {
        font-size: 40px;
    }

    .hero-pic2box {
        width: 0;
        height: 0;
    }

    .hero-pic1 {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .hero-pic1 {
        width: 120%;
    }
    .hero-title {
        font-size: 35px;
    }
    .hero-buttondesc {
        font-size: 16px;
    }
    .hero-box {
        flex-direction: column;
    }
    .hero-buttondesc {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .hero-box-cont {
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .hero-box {
        margin-top: 100px;
    }
    .hero-pic1 {
        width: 140%;
    }
    .hero-picbox {
        margin-left: 0;
    }
    .hero-desc {
        margin-top: 15px;
        margin-inline: 5%;
    }
    .hero-box {
        margin-inline: 5%;
    }

    .hero-picbox {
        margin-left: 0;
        height: 250px;
    }

    .hero-pic1 {
        width: 140%;
    }
}