.myblogs {
    background-color: #1d183f;
    margin: 0;
    margin-top: 100px;
}

.myblogs-title {
    font-size: 30px;
    font-weight: 400;
    padding-top: 100px;
    margin-inline: 10%;
    color: white;
}

.myblogs > hr {
    margin-inline: 10%;
    margin-top: 50px;
    margin-bottom: 0;
    border: 2px solid white;
    opacity: 10%;
}

.myblogs-cont {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #1d183f;
}

.myblogs-cont-box {
    margin-inline: 10%;
}

.myblogs-cont-horz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myblogs-cont-picbox {
    min-width: 350px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: -20px 20px #5941F2;
}

.myblogs-cont-pic {
    width: 250%;
}

.myblogs-cont-vert {
    /* background-color: antiquewhite; */
    margin-left: 100px;
    width: 100%;
}

.myblogs-cont-number {
    color: #B1A7F2;
    font-weight: 400;
    margin: 0;
    font-size: 25px;
    font-style: italic;
}

.myblogs-cont-title {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
}

.myblogs-cont-desc {
    margin-top: 0;
    margin-bottom: 40px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
}

.myblogs-cont-button {
    height: 50px;
    width: 180px;
    border: none;
    background-color: #5941F2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.myblogs-cont-button:hover {
    border: 2px solid #5941F2;
    color: #5941F2;
    background-color: inherit;
}

/* EVEN STUFF */


.myblogs-cont-even {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #5941F2;
    /* background-color: white; */
}

.myblogs-cont-button-even {
    height: 50px;
    width: 180px;
    border: none;
    background-color: #1d183f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.myblogs-cont-button-even:hover {
    border: 2px solid #1d183f;
    color: #1d183f;
    background-color: inherit;
}

.myblogs-cont-vert-even {
    /* background-color: antiquewhite; */
    margin-right: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.myblogs-cont-desc-even {
    margin-top: 0;
    margin-bottom: 40px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.myblogs-cont-picbox-even {
    min-width: 400px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px #1d183f;
}