.allblogs {
    margin-top: 80px;
    padding-inline: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.allblogs-title {
    margin-block: 20px;
    font-size: 35px;
    font-weight: 600;
}

.allblogs > button {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    transition-duration: 0.4s;
}

.allblogs > button:hover {
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.allblogs-blog {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 200px;
}

.allblogs-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* flex: 0 0 30%; */
    width: 30%;
}

.allblogs-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    /* flex: 0 0 70%; */
    width: 70%;
}

.allblogs-img {
    height: 200px;
}

.allblogs-box2 h1, .allblogs-box2 h2, .allblogs-box2 p {
    margin: 0;
    text-align: left;
}

.allblogs-box2 h1 {
    font-size: 25px;
}

.allblogs-box2 h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.allblogs-box2 p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin-top: 5px;
    color: #5941F2;
}

.allblogs-odd {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .allblogs {
        display: flex;
        flex-direction: column;
        padding-inline: 10%;
    }
}

@media only screen and (max-width: 750px) {
    .allblogs-blog {
        height: 175px;
    }
    .allblogs-box2 h1 {
        font-size: 20px;
    }
    .allblogs-box2 h2 {
        font-size: 14px;
    }
    .allblogs-box2 p {
        font-size: 12px;;
    }
}

@media only screen and (max-width: 500px) {
    .allblogs-blog {
        height: 150px;
    }
    .allblogs-box2 h1 {
        font-size: 18px;
    }
    .allblogs-box2 h2 {
        font-size: 12px;
    }
    .allblogs-box2 p {
        font-size: 10px;;
    }
    .allblogs {
        padding-top: 15px;
        padding-inline: 5%;
    }
}