.delete {
    background-color: lightsalmon;
    padding-bottom: 100px;
}

.delete-titlebox {
    margin-top: 80px;
    height: 250px;
    display: flex;
    align-items: center;
    background-color: lightsalmon;
}

.delete-title {
    margin-inline: 10%;
}

.delete-title > h1 {
    margin: 0;
    font-size: 45px;
}

.delete-titlelink:link {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

.delete-titlelink:visited {
    text-decoration: none;
    color: black;
}

.delete-titlelink:hover {
    text-decoration: none;
    color: black;
    opacity: 50%;
}

.delete-title > p {
    margin: 0;
    font-size: 18px;
}

.delete-cont {
    background-color: whitesmoke;
    margin-inline: 10%;
}

.delete-cont-box {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid gray;
}

.delete-cont-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.delete-cont-button1, .delete-cont-button2, .delete-cont-button3 {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4;
    margin-right: 10px;
    transition-duration: 0.4s;
}

.delete-cont-button1 {
    background-color: black;
}

.delete-cont-button2 {
    background-color: rgb(251, 105, 105);
}

.delete-cont-button3 {
    background-color: rgb(47, 147, 184);
}

.delete-cont-button1:hover, .delete-cont-button2:hover, .delete-cont-button3:hover {
    color: black;
    background-color: inherit;
}

.delete-cont-title {
    margin: 0;
}

.popup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}

.popup-box > h3, .popup-box > p {
    margin: 0;
    text-align: center;
    padding-inline: 30px;
}

.popup-cancel {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}

.popup-delete {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: rgb(251, 105, 105);
    color: white;
    cursor: pointer;
}

.popup-cancel:hover, .popup-delete:hover {
    border: 1px solid black;
}

.popup-back {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    opacity: 60%;
}