.header {
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition-duration: 0.6s;
    background-color: #F2F2F2;
}

.header-active {
    background-color: #F2F2F2;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition-duration: 0.6s;
}

.header-active button {
    color: white;
}

.header-active button:after {
    background-color: white;
}

.header-color {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 46%;
    background-color: #458C78;
    z-index: -1;
    transition-duration: 0.6s;
}

.header-color-active {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 46%;

    background-color: #458C78;
    z-index: -1;
    transition-duration: 0.6s;
}

.header-color2 {
    position: fixed;
    top: 0;
    right: 0;
    height: 0px;
    width: 100%;
    background-color: #458C78;
    z-index: -1;
    transition-duration: 0.6s;
}

.header-color2-active {
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: #458C78;
    z-index: -1;
    transition-duration: 0.6s;
}

.header-logo {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    /* color: white; */
    margin: 0;
    margin-left: 10%;
    cursor: pointer;
    transition-duration: 0.4s;
}

.header-logo:hover {
    opacity: 60%;
}

.header-logo-img {
    height: 25px;
    cursor: pointer;
}

.header-box {
    margin-right: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38.88%;
}

.header-button1 {
    font-family: 'Montserrat', sans-serif;
    margin-inline: 5px;
    height: 30px;
    padding: 0;
    border: none;
    text-align: center;
    background-color: inherit;
    color: black;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition-duration: 0.6s;
}

.header-button1:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-box > button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-button2 > img {
    height: 35px;

}

.header-button2 {
    margin-right: 10%;
    padding: 0;
    opacity: 0%;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition-duration: 0.4s;
}

.header-button2:hover {
    opacity: 50%;
}

.drop-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.drop-back {
    /* position: fixed;
    top: 0;
    right: 0; */
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 35%;
}

.drop-clicktracker {
    height: 100%;
    width: 100%;
    opacity: 0%;
}

.drop {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #458C78;
    height: 100%;
    width: 54%;
    z-index: 2;
    margin-top: 80px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    transition-duration: 0.4s;
}

.drop-off {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: #458C78;
    width: 0;
    height: 100%;
    transition-duration: 0.4s;
}

.drop-link {
    text-align: right;
    border: none;
    background-color: inherit;
    padding-block: 10px;
    padding-right: 22%;
    padding-left: 15px;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition-duration: 1.6s;
    cursor: pointer;
    white-space: nowrap;

}

.drop-link-off {
    text-align: right;
    border: none;
    background-color: inherit;
    padding-block: 10px;
    padding-left: 20px;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition-duration: 0.2s;
    opacity: 0%;
    white-space: nowrap;
}

.header-drop-img1 {
    transition-duration: 0.6s;
}

.header-drop-img2 {
    transition-duration: 0.6s;
}

@media only screen and (max-width: 2000px) {
    .header-box {
        width: 39.1%;
    }
}

@media only screen and (max-width: 1650px) {
    .header-box {
        width: 38.9%;
    }
}

@media only screen and (max-width: 1300px) {
    .header-box {
        width: 38.7%;
    }
}

@media only screen and (max-width: 1050px) {
    .header-box {
        width: 38.3%;
    }
}

@media only screen and (max-width: 950px) {
    .header-box {
        display: none;
    }
    .header-button2 {
        display: flex;
        opacity: 100%;
    }
    
}

@media only screen and (max-width: 750px) {

    .drop-link {
        padding-right: 18%;
    }

    .header-color2 {
        height: 80px;
    }
    
    .header-logo:hover {
        opacity: 100%;
    }
    .header-drop-img1 {
        filter: brightness(0) invert(1);
    }
    .header-drop-img2 {
        filter: brightness(0) invert(1);
    }
}

@media only screen and (max-width: 500px) {
    .header, .header-active {
        height: 60px;
    }
    .header-logo {
        margin-left: 5%;
    }
    .header-logo-img {
        height: 22px;
    }
    .header-button2 {
        margin-right: 5%;
    }
    .drop {
        width: 70%;
        margin-top: 60px;
    }
    .drop-link {
        padding-block: 10px;
        padding-right: 8%;
    }
    .header-color, .header-color-active, .header-color2, .header-color2-active {
        height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .drop {
        width: 80%;
    }
}