.loginpagepop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    overflow: auto;
}

.loginpage {
    z-index: 5;
    width: 100%;
    margin-top: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.loginback {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../pic/background1.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    /* opacity: 50%; */
}

.loginbackpop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    opacity: 30%;
}

.login {
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
    margin-bottom: 80px;
    margin-inline: 10%;
    background-color: white;
    display: flex;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.loginpop {
    margin-top: 120px;
    position: fixed;
    width: 100%;
    height: 70%;
    max-width: 450px;
    top: 0;
    margin-inline: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 3;
    overflow: auto;
}

.login-box1pop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #458C78;
    position: sticky;
    top: 0;
    z-index: 6;
}

.login-box1pop > button {
    background-color: transparent;
    border: none;
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.login-box1pop > button > img {
    filter: brightness(0) invert(1) opacity(100%);
    height: 30px;
    transition-duration: 0.4s;
}

.login-box1pop > button:hover > img {
    filter: brightness(0) invert(1) opacity(50%);
}

.login-box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    box-shadow: -10px 0px #458C78;
}

.login-google {
    padding-block: 15px;
    padding-inline: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 300px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition-duration: 0.4s;
    color: gray;
    margin-bottom: 20px;
}

.login-google:hover {
    color: black;
}

.login-googlelogo {
    height: 25px;
}

.login-google > span {
    padding-inline: 20px;
    font-size: 15px;
    text-align: left;
}

.login-box2 > input {
    padding-block: 10px;
    padding-inline: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-block: 5px;
    width: 100%;
    max-width: 400px;
}

.login-box2 > h1 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #458C78;
}

.login-box2 > h2 {
    margin: 0;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 14px;
}

.login-box2 > h3 {
    margin: 0;
    padding-bottom: 10px;
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.login-box2 > h4 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.login-box2 > h4 > span {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    color: rgb(255, 91, 91);
}

.login-button {
    padding-block: 10px;
    padding-inline: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    border: none;
    background-color: #458C78;
    color: white;
    border: 1.5px solid #458C78;
    transition-duration: 0.4s;
}

.login-button:hover {
    background-color: inherit;
    color: #458C78;
}

.signup-button {
    padding: 0;
    text-decoration: none;
    text-align: left;
    background-color: inherit;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: gray;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-block: 5px;
}

.signup-button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #458C78;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .signup-button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.signup-button:hover {
    color: #458C78;
}

@media only screen and (max-width: 600px) {
    .loginpop {
        width: 90%;
    }
    .login {
        margin-inline: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .loginpop {
        margin-top: 100px;
    }
    .loginpage {
        margin-top: 60px;
        padding-top: 0px;
    }
    .login {
        max-width: 100%;
        padding-top: 40px;
        margin-inline: 0px;
        padding-bottom: 40px;
        margin-bottom: 0px;
    }
    .login-back {
        background-image: none;
        background-color: white;
    }
}