.profilepage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.profile {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 700px;
}

.profile-title {
    width: 46%;
    height: 100%;
    padding: 30px;
    padding-top: 80px;
    padding-left: 0;
    padding-left: 10%;
    background-image: url("../../pic/background1.jpg");
    color: white;
    display: flex;
    justify-content: flex-start;
}

.profile-title > h1 {
    padding: 0;
    font-size: 45px;
    font-weight: 500;
    padding-right: 20px;
}

.profile-title > h1 > b {
    color: rgb(174, 250, 174);
}

.profile-content {
    width: 54%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.profile-content1 {
    background-color: rgb(244, 244, 244);
    box-shadow: inset 20px 0px #458C78;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile-content2 {
    box-shadow: inset 20px 0px gray;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(244, 244, 244);
    padding: 30px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-avatar {
    font-family: 'Montserrat', sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-avatarpic {
    height: 200px;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.profile-avatar > p {
    position: absolute;
    color: white;
    font-weight: 500;
    opacity: 0%;
    padding-top: 30px;
    transition-duration: 0.4s;
}

.profile-avatar:hover > p {
    padding-top: 0px;
    opacity: 100%;
}

.profile-avatar:hover > .profile-avatarpic {
    filter: brightness(50%);
}

.profile-content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 10px;
}

.profile-content-row > h2, .profile-content-row > h3 {
    margin: 0;
    font-size: 18px;
    margin-right: 20px;
}

.profile-content-row > h3 {
    font-weight: 400;
}

.profile-content-row > button > img {
    height: 25px;
}

.green {
    color: rgb(51, 191, 51);
    font-weight: 500;
}

.red {
    color: rgb(254, 101, 101);
    font-weight: 500;
}

.profile-button1 {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    opacity: 50%;
    transition-duration: 0.4s;
    margin: 0;
    cursor: pointer;
    text-align: left;
}
.profile-button1:hover {
    opacity: 100%;
}

.profile-button2 {
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    opacity: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.profile-button2:hover {
    opacity: 100%;
}

.profile-button3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-inline: 20px;
    border: 1px solid black;
    background-color: inherit;
    padding: 8px;
    padding-inline: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.profile-button3:hover {
    background-color: black;
    color: white;
}

.profile-popup-page {
    position: fixed;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.profile-popup-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 5;
}

.profile-popup {
    margin-bottom: 10%;
    position: fixed;
    height: 300px;
    width: 100%;
    max-width: 600px;
    margin-inline: 5%;
    background-color: white;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-popup > input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    min-width: 300px;
    text-align: center;
}

.profile-popup > h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-inline: 20px;
    text-align: center;
}

.profile-popup > h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-popup > p {
    margin: 0;
    margin-bottom: 10px;
}

.profile-loading {
    height: 30px;
}

@media only screen and (max-width: 1300px) {
    .profile-content1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-content1-details {
        margin-top: 40px;
        padding-left: 30px;
        width: 100%;
    }
    .profile-title > h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 880px) {
    .profile-content1 {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile-content1-details {
        margin-top: 0;
        padding-left: 0px;
        width: auto;
    }

    .profile-title {
        width: 100%;
        height: 120px;
        padding: 0;
        justify-content: flex-start;
        padding-left: 10%;
        background-image: none;
        background-color: #458C78;
        background-position: center;
        background-size: cover;
    }

    .profile-title > h1 {
        font-size: 30px;
    }

    .profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-content {
        width: 100%;
    }
    .profile-content1-details {
        margin-top: 0;
    }
    
}

@media only screen and (max-width: 730px) {
    .profile-content1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-content1-details {
        margin-top: 50px;
        padding-left: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .profile {
        width: 100%;
    }
    .profile-title {
        height: 100px;
    }
    .profile-title > h1 {
        font-size: 25px;
    }
    .profile-content-row > h2, .profile-content-row > h3 {
        font-size: 15px;
    }
    .profile-button1 {
        font-size: 15px;
    }
    .profile-content > h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .profile-title {
        padding-left: 5%;
    }
    .profile-content {
        padding: 10px;
    }
    .profilepage {
        margin-top: 60px;
    }
    .profile-content1-details {
        margin-top: 30px;
        padding-left: 20px;
    }
    .profile-content2 {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 450px) {
    

    .profile-title > h1 {
        font-size: 20px;
    }
    .profile-content-row > h2, .profile-content-row > h3 {
        font-size: 13px;
    }
    .profile-button1 {
        font-size: 13px;
    }
    .profile-content > h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .profile-content1-details {
        padding-left: 5px;
    }
    .profile-content2 {
        padding-left: 35px;
    }
}