.page404 {
    margin-top: 80px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page404-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-inline: 10%;
    padding: 20px;
    padding-block: 50px;
}

.page404-loading {
    height: 200px;
    opacity: 10%;
}

.page404-404 {
    font-size: 100px;
    font-weight: 600;
    margin: 0;
}

.page404-desc {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
    .page404-loading {
        height: 150px;
    }
    .page404-desc {
        font-size: 18px;
    }
    .page404 {
        margin-top: 70px;
    }
}