.underdev {
    margin-top: 80px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underdev > h1 {
    padding-bottom: 50px;
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    padding-inline: 10%;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .underdev > h1 {
        font-size: 22px;
    }    
}